<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EducationUSA.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
				<key>dateExpires</key>
				<string>21/01/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ADCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AMXFontAutoScale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EZAlertController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpyTableView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FCAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FlagPhoneNumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LGRefreshView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MRCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper_Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Shimmer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextField_Shake.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UIView_Shake.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFE9ADB56CC78A2232AE3F2C82C2B356CE3DC15</string>
						<key>dateExpires</key>
						<string>21/01/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LQ8XDF245Q</string>
						<key>name</key>
						<string>John Cashman</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LQ8XDF245Q.com.teamingic.educationusanew</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LQ8XDF245Q</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EducationUSA.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>85285535-9b1d-43cc-b97b-6fd45c048683</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.teamingic.educationusanew</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LQ8XDF245Q</string>
				<key>name</key>
				<string>John Cashman</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
